<div class='row'>
	<a class='btn btn-default' href='/'>Freshtracks</a>
</div>
<br>

<div class="row text-center">
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><h1><%- page.title %></h1></div>
	  <div class="panel-body"><p><%= date(page.date, config.date_format) %></p></div>
 </div>
	 <!-- <%- page.content %> -->
</div>
